/* Footer */
.footer {
  margin-top: 4rem;
  padding: 1rem;
  background-color: #09ec42;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footer-text {
  font-size: 0.7rem;
  color: #000
}

/* Responsive */

/* Mobile Large (480px - 768px) */
@media (max-width: 768px) {
  .footer {
    margin-top: 2rem;
    padding-top: 1.5rem;
  }
  
  .footer-text {
    font-size: 0.5rem;
  }
}

/* Mobile Small (até 480px) */
@media (max-width: 480px) {
  .footer-text {
    font-size: 0.45rem;
  }
}
